<div class="flex items-center h-14 px-4 bg-black/40">
    <a class="text-white font-semibold text-lg" href="">SampleBlazorApp</a>
</div>

<input type="checkbox" title="Navigation menu" id="nav-toggle" class="peer hidden md:hidden" />
<label for="nav-toggle"
       class="absolute top-2 right-4 w-14 h-10 flex items-center justify-center rounded border border-white/10 bg-white/10 cursor-pointer md:hidden">
    <svg class="w-5 h-5 text-white/60" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
</label>

<nav class="hidden peer-checked:block md:block md:h-[calc(100vh-3.5rem)] md:overflow-y-auto">
    <div class="flex flex-col py-4">
        <NavLink class="flex items-center h-12 px-4 mx-3 rounded text-gray-300 hover:bg-white/10 hover:text-white [&.active]:bg-white/[.37] [&.active]:text-white"
                 href="" Match="NavLinkMatch.All">
            <svg class="w-5 h-5 mr-3 shrink-0" fill="white" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
            </svg>
            Home
        </NavLink>

        <NavLink class="flex items-center h-12 px-4 mx-3 rounded text-gray-300 hover:bg-white/10 hover:text-white [&.active]:bg-white/[.37] [&.active]:text-white"
                 href="counter">
            <svg class="w-5 h-5 mr-3 shrink-0" fill="white" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
            </svg>
            Counter
        </NavLink>

        <NavLink class="flex items-center h-12 px-4 mx-3 rounded text-gray-300 hover:bg-white/10 hover:text-white [&.active]:bg-white/[.37] [&.active]:text-white"
                 href="weather">
            <svg class="w-5 h-5 mr-3 shrink-0" fill="white" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z" />
            </svg>
            Weather
        </NavLink>
    </div>
</nav>
